body {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
}

/* ログイン画面 */
.logo-title a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}

.card {
    width: 700px;
    padding: 30px;
}

.form-item-box label {
    display: block;
}

.form-item {
    margin: 10px 0;
    width: 100%;
}

/* header */
header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #F6F6F6;
    box-shadow: 0px 0.1px 2px 0px rgba(0, 0, 0, 0.5);
}

header .site-title a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

header .header-menu {
    display: flex;
}

header .header-separater {
    margin: 0 20px;
}

header .cart-icon-link {
    text-decoration: none;
    color: #000;
}

header .header-cart-icon:hover {
    cursor: pointer;
}

/* main */
h1 {
    text-align: center;
    margin: 50px 0;
    color: #000;
}

main .product-container {
    min-height: calc(100vh - 47px);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item-list .item-detail {
    width: 350px;
}

main .item-list .item-detail .item-image img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

main .item-list .item-detail .item-image img:hover {
    box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    transform: translate(-1px, -1px);
    transition-duration: 0.3s;
}

main .item-list .item-detail .item-description p {
    margin: 0;
}

main .item-list .item-detail div {
    margin: 10px 0;
}

@media screen and (max-width:1050px) {
    header {
        padding: 10px;
    }

    main .product-container {
        width: 100%;
    }

    main .item-list {
        justify-content: space-between;
    }

    main .item-list .item-detail {
        width: 50%;
    }

    main .item-list .item-detail .item-image {
        object-fit: cover;
        position: relative;
    }

    main .item-list .item-detail .item-image::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    main .item-list .item-detail .item-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:700px) {
    header {
        font-size: 1rem;
    }

    main .product-container {
        width: 100%;
    }

    main .item-list {
        justify-content: center;
    }

    main .item-list .item-detail {
        width: 100%;
    }

    main .item-list .item-detail .item-image {
        object-fit: cover;
        position: relative;
    }

    main .item-list .item-detail .item-image::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    main .item-list .item-detail .item-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* detail */
main .product-detail-container {
    min-height: calc(100vh - 47px);
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 50px;
}

main .product-detail-image-area {
    width: 910px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .product-detail-image {
    width: 450px;
    margin-bottom: 10px;
}

main .product-detail-image img:hover {
    cursor: not-allowed;
}

main .product-detail-image:nth-child(2N + 1) {
    margin-right: 10px;
}

main .product-detail-info {
    width: 420px;
    margin-left: 30px;
    padding-top: 20px;
}

/* color */

main .color-image-box {
    display: flex;
}

main .color-image-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}

main .color-image-box img:hover {
    cursor: pointer;
}

/* size */
main .size-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

main .size-box {
    display: flex;
    flex-wrap: wrap;
}

main .size-area {
    width: 130px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

main .size-area:nth-child(3N) {
    margin-right: 0;
}

main .size-area button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

/* cart button */

main .cart-button-box {
    width: 410px;
    height: 60px;
}

main .cart-button-box button {
    background-color: #000;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    color: #fff;
}

main .cart-button-box button:hover {
    opacity: .6;
}

main .product-detail-container .active {
    border: 1px solid #000;
}

/* modal */
#overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
}

#content {
    z-index: 2;
    width: 390px;
    height: 290px;
    padding: 1em;
    background-color: #F6F6F6;
    margin-right: 20px;
}

.batsu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
}

.batsu::before, .batsu::after {
    /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5px;
    /* 棒の幅（太さ） */
    height: 16px;
    /* 棒の高さ */
    background: #333;
}

.batsu::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-content-upper-box {
    display: flex;
    justify-content: space-between;
}

.modal-content-middle-box {
    display: flex;
}

.modal-content-middle-box p {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.modal-content-middle-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.modal-content-middle-info {
    margin-left: 20px;
}

.modal-content-bottom-box {
    width: 340px;
    height: 60px;
    background-color: #000;
    margin-top: 25px;
    border-radius: 30px;
}

.modal-content-bottom-box button {
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 100;
}

/* Cart */
main .cart-container {
    min-height: calc(100vh - 47px);
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding:0 20px;
}

main .checkout-step-box {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color:#b4b4b4;
    margin-bottom: 50px;
}

main .checkout-step-box .active{
    color:#000;
}

main .checkout-step-area {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

main .checkout-step-box p {
    margin-bottom: 0;
}

main .checkout-step-num {
    font-size: 1.4rem;
}

main .checkout-step-separator {
    margin: 0 15px;
    line-height: 80px;
}

main .cart-box {
    display: flex;
    margin-bottom: 20px;
}

main .cart-box:nth-child(n + 2) {
    border-top: 1.5px solid #EAEAEA;
    padding-top: 20px;
}

main .cart-box div:nth-child(n + 1) {
    margin-right: 20px;
}

main .cart-box div:nth-child(n + 2) {
    width: 600px;
    margin-right: 20px;
}

main .cart-box div:nth-child(n + 3) {
    width: 100px;
    text-align: right;
    margin-right: 0;
}

main .cart-box p {
    margin-bottom: 5px;;
}

main .cart-item-image {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

main .cart-item-image img {
    width: 100%;
    height: 100%;
}

main .cart-trash-icon {
    font-size: 1.2rem;
}

main .cart-trash-icon:hover {
    cursor: pointer;
}